@font-face {
    font-family: poppins-regular;
    src: url(ExtraAsset/font/Poppins-Regular.ttf);
}

* {
    margin: 0px;
    /* outline: 1px solid red; */
    font-family: poppins-regular;
}

.navbar {
    display: flex;

}

.navbarmax {
    display: flex;
    align-items: center;
    height: 10vh;
    width: 37.5%;
    justify-content: space-between;
    padding-left: 5%;
}

.navbarmax > a > button {
    background: transparent;
    border: transparent;
}

.navbarmax > h3 {
    font-size: 30px;
    
}

.content {
    height: 90vh;
    display: flex;
}

.leftcontent, .rightcontent {
    width: 50%;
}

.leftcontent {
    display: flex;
    justify-content: center;
}

.imagecontent {
    background: #FFB566;
    border: 5px solid #FFB566;
    width: 80%;
    height: 85vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50%;
    transition: 0.5s ease;

}

.imagecontent:hover {
    background: #ffffff;
    border: 5px solid #FFB566;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    transition: 0.5s ease;

}

.order {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.order > span {
    font-size: 25px;
    font-weight: bold;
}

.rightcontent {
    padding-right: 5%;
}

.rightcontent > h1 {
    text-transform: uppercase;
    font-size: 40px;
}

.rightcontent > h2 {
    color: #FFB566;
}

.rightcontent > h5 {
    color: #909090;
}

.rightcontent > p {
    display: flex;
    height: 48vh;
    font-size: 15px;
    align-items: center;
}

.orderbutton1 {
    vertical-align: middle;
    text-align: center;
  
}

.ordermin, .ordermax {
    border: transparent;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.281);
    background-color:white;
    transition: 0.3s ease;
}

.ordermin:hover, .ordermax:hover {
    background-color:#FFB566;
    transition: 0.3s ease;
}

.ordermin:active, .ordermax:active {
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.281);
}

.ordermin {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background: url("ExtraAsset/min.png");
    background-position: center;
    background-size: contain;

}

.ordermax {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background: url("ExtraAsset/max.png");
    background-position: center;
    background-size: contain;
    
}

.upperbutton {
    display: flex;
    justify-content: space-between;
}

.upperbutton > h5 {
    font-size: 15px;
    font-weight: bold;
}

.addtocart {
    width: 100%;
    height: 6vh;
    background: #2B2B2B;
    border: transparent;
    color: white;
    transition: 0.3s ease;
}

.addtocart:hover {
    transition: 0.3s ease;
    background: #000000;
    border: transparent;
    color: white;
}